<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>example (C).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>example (C++).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>rambler_memory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>073D2F121A40F50200E76071</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A235A11A3D0CA1001E17E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07B8D99B1A3CC1DB00CF92D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07D8143F1A3D08EC001C5727</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
